<div>
    <!-- TODO orgDetails should be sticky, scoll on groupCards only -->
    <!-- TODO need to fix the buttons and progress bar when scrolling(override z-index?), currently they're over the header -->
    <section id="orgDetails" *ngIf="!(isAnimalTypesLoading&&isSheltersLoading)">
        <img src="../assets/shelters/{{ id }}.jpg" alt="">
        <h2>{{ shelter.ShelterName }}</h2>
        <p>{{ shelter.Description }}</p>
        <p-button label="Add New Animal Type" (onClick)="toggleAddingNewType()"></p-button>
    </section>

    <section id="groupCards" *ngIf="!isAnimalTypesLoading">

        <!-- Add new card view -->
        <form [formGroup]="animalTypeForm" novalidate>
            <p-card *ngIf="isAddNewAnimalType" styleClass="prime-card-override">
                <ng-template pTemplate="header">
                    <input type="text" pInputText placeholder="Enter Animal Type" formControlName="AnimalTypeName"
                        value="{{animalType?.AnimalTypeName}}" />
                    <div>
                        <p-button label="Save" (onClick)="submitAnimalType(animalTypeForm.value, 0)">
                        </p-button>
                        <p-button label="Cancel" (onClick)="toggleAddingNewType()"></p-button>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <div class="progressGroup">
                        <input type="text" pInputText placeholder="Enter Capacity" formControlName="Capacity"
                            value="{{animalType?.Capacity}}" />
                        <h3>Occupancy of {{animalType.AnimalTypeName}}</h3>
                        <p-progressBar value="0" styleClass="prime-progress"></p-progressBar>
                    </div>
                </ng-template>

            </p-card>
        </form>

        <!-- Lsit of existing cards -->
        <form [formGroup]="animalTypeForm" novalidate>
            <p-card *ngFor="let animalType of animalTypes; let i=index" styleClass="prime-card-override">
                <ng-template pTemplate="header">

                    <h2 *ngIf="!isEditing">{{animalType.AnimalTypeName}}</h2>
                    <!--  -->
                    <input  *ngIf="isEditing" pInputText value="{{animalType?.AnimalTypeName}}"
                        formControlName="AnimalTypeName" />
                    <p>AnimalTypeId: {{animalType.AnimalTypeId}}</p>
                    <p>animalTypes[i].AnimalTypeId: {{animalTypes[i].AnimalTypeId}}</p>
                    <div>
                        <p-button [id]="animalType.AnimalTypeId" *ngIf="!isEditing" label="Edit"
                            (onClick)="toggleEditingState(animalTypes[i].AnimalTypeId)"></p-button>

                        <p-button *ngIf="isEditing" label="Save"
                            (onClick)="submitAnimalType(animalTypeForm.value, animalType.AnimalTypeId)"></p-button>
                        <p-button *ngIf="isEditing" label="Delete" (onClick)="toggleDeletionDialog()"></p-button>
                        <button type="button" *ngIf="isEditing" class="pi pi-times"
                            (click)="isEditing = !isEditing"></button>

                    </div>
                </ng-template>

                <ng-template pTemplate="content">
                    <div class="progressGroup">
                        <input *ngIf="isEditing" type="text" pInputText value="{{animalType?.Capacity}}"
                            formControlName="Capacity" />
                        <h3>Occupancy of {{animalType.AnimalTypeName}}</h3>
                        <!-- TODO databing the length of Animals Array in here and do the math  -->
                        <p-progressBar value="{{calProgressBar(animalType.Animals.length, animalType.Capacity)}}"
                            styleClass="prime-progress"></p-progressBar>
                    </div>
                    <!-- TODO instead of do ngIf, do visibility:none in CSS so it doesn't mess up the card layout -->
                    <!-- {!IF(isEditing,'hideButton', 'avalBtn')} -->
                    <!-- interpolation or ternary don't work with styleClass, dunno why -->
                    <a [routerLink]="getRoute(animalType.AnimalTypeId)">
                        <p-button label="See Avaliable Animals!" styleClass="avalBtn"></p-button>
                    </a>
                </ng-template>

                <!-- Dialog on delete button -->
                <p-dialog [(visible)]="isDeleting" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
                    [style]="{width: '50vw'}">
                    <ng-template pTemplate="header">
                        <h1>Are you sure you want to delete animal type {{animalType.AnimalTypeName}} ?</h1>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <h2> {{animalType.AnimalTypeName}}</h2>
                        <h3>Occupancy of {{animalType.AnimalTypeName}}</h3>
                        <p-progressBar value="{{calProgressBar(animalType.Animals.length, animalType.Capacity)}}"
                            styleClass="prime-progress"></p-progressBar>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-button label="Yes" (onClick)="deleteAnimalType(animalType.AnimalTypeId)"></p-button>
                        <p-button label="No" (onClick)="toggleDeletionDialog()"></p-button>
                    </ng-template>
                </p-dialog>
            </p-card>
        </form>
    </section>


</div>