<div>
    <section id="orgDetails" *ngIf="!(isAnimalTypesLoading&&isSheltersLoading)">
        <img id="allAnimalPic" src="../assets/shelters/{{ shelter.ShelterId }}.jpg" alt="">
        <h2>{{ shelter.ShelterName }}</h2>
        <p>{{ shelter.Description }}</p>
        <p-button *ngIf="shelter.ShelterId!=0" label="Add New Animal Type" (onClick)="toggleAddingNewType()"></p-button>
    </section>

    <section id="groupCards" *ngIf="!isAnimalTypesLoading">

        <!-- Add new card view -->
        <form [formGroup]="animalTypeForm" novalidate>
            <p-card *ngIf="isAddNewAnimalType" styleClass="prime-card-override">
                <ng-template pTemplate="header">
                    <input type="text" pInputText placeholder="Enter Animal Type" formControlName="AnimalTypeName"
                        value="{{animalType?.AnimalTypeName}}" />
                    <div>
                        <p-button label="Save" (onClick)="submitAnimalType(animalTypeForm.value)"></p-button>
                        <p-button label="Cancel" (onClick)="toggleAddingNewType()"></p-button>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <div class="progressGroup">
                        <input type="text" pInputText placeholder="Enter Capacity" formControlName="Capacity"
                            value="{{animalType?.Capacity}}" />
                        <h3>Occupancy of {{animalType?.AnimalTypeName}}</h3>
                        <p-progressBar value="0" styleClass="prime-progress"></p-progressBar>
                    </div>
                </ng-template>
            </p-card>
        </form>

        <!-- Lsit of existing cards -->
        <form [formGroup]="animalTypeForm" novalidate>
            <p-card *ngFor="let animalType of animalTypes; let i=index" styleClass="prime-card-override">
                <ng-template pTemplate="header">
                    <h2 *ngIf="!isEditing || animalTypes[i].AnimalTypeId!=editingId">{{animalType.AnimalTypeName}}</h2>
                    <input *ngIf="isEditing && animalTypes[i].AnimalTypeId==editingId" pInputText
                        value="{{animalType?.AnimalTypeName}}" formControlName="AnimalTypeName" />
                    <div>
                        <p-button *ngIf="!isEditing || animalTypes[i].AnimalTypeId!=editingId" label="Edit"
                            (onClick)="enableEditingState(animalTypes[i].AnimalTypeId)"></p-button>
                        <p-button *ngIf="isEditing && animalTypes[i].AnimalTypeId==editingId" label="Save"
                            (onClick)="submitAnimalType(animalTypeForm.value)"></p-button>
                        <p-button *ngIf="isEditing && animalTypes[i].AnimalTypeId==editingId" label="Delete"
                            (onClick)="enableDeletingDialog(animalTypes[i].AnimalTypeId)"></p-button>
                        <button *ngIf="isEditing && animalTypes[i].AnimalTypeId==editingId" type="button"
                            class="pi pi-times" (click)="toggleEditing()" id="turnOffButton"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <div class="progressGroup">
                        <input *ngIf="isEditing&&animalTypes[i].AnimalTypeId==editingId" type="text" pInputText
                            value="{{animalType?.Capacity}}" formControlName="Capacity" />
                        <h3>Occupancy of {{animalType.AnimalTypeName}}</h3>
                        <p-progressBar value="{{calProgressBar(animalType.Animals.length, animalType.Capacity)}}"
                            styleClass="prime-progress"></p-progressBar>
                    </div>
                    <p-button label="See Avaliable Animals!" styleClass="avalBtn" (onClick)="routeTo(animalType)">
                    </p-button>

                </ng-template>

                <!-- Dialog on delete button -->
                <p-dialog [(visible)]="isDeleting && animalTypes[i].AnimalTypeId==deletingId"
                    [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
                    <ng-template pTemplate="header">
                        <h1>Are you sure you want to delete animal type {{animalType.AnimalTypeName}} ?</h1>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <h2> {{animalType.AnimalTypeName}}</h2>
                        <h3>Occupancy of {{animalType.AnimalTypeName}}</h3>
                        <p-progressBar value="{{calProgressBar(animalType.Animals.length, animalType.Capacity)}}"
                            styleClass="prime-progress"></p-progressBar>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-button label="Yes" (onClick)="deleteAnimalType(animalType)"></p-button>
                        <p-button label="No" (onClick)="toggleDeletionDialog()"></p-button>
                    </ng-template>
                </p-dialog>
            </p-card>
        </form>
    </section>
</div>

<p-toast position="top-right"></p-toast>