<div>
    <!-- TODO orgDetails should be sticky, scoll on groupCards only -->
    <!-- TODO need to fix the buttons and progress bar when scrolling(override z-index?), currently they're over the header -->
    <section id="orgDetails" *ngIf="!(isAnimalTypesLoading&&isSheltersLoading)">
        <img src="../assets/shelters/{{ id }}.jpg" alt="">
        <h2>{{ shelter.ShelterName }}</h2>
        <p>{{ shelter.Description }}</p>
        <p-button label="Add New Animal Type" (onClick)="isAddNewAnimalType = !isAddNewAnimalType"></p-button>
    </section>

    <section id="groupCards" *ngIf="!isAnimalTypesLoading">
        <p-card *ngIf="isAddNewAnimalType" styleClass="prime-card-override">
            <ng-template pTemplate="header">
                <input type="text" pInputText placeholder="Enter Animal Type" />
                <div>
                    <p-button label="Save" (onClick)="addAnimalType()">
                    </p-button>
                    <p-button label="Cancel" (onClick)="cancelAddingNewType()"></p-button>
                </div>
            </ng-template>

            <ng-template pTemplate="content">
                <div class="progressGroup">
                    <input type="text" pInputText placeholder="Enter Capacity" />
                    <h3>Fullness of facility</h3>
                    <p-progressBar value="0" styleClass="prime-progress"></p-progressBar>
                </div>
            </ng-template>
        </p-card>

        <p-card *ngFor="let animalType of animalTypes" styleClass="prime-card-override">
            <ng-template pTemplate="header">
                <h2 *ngIf="!isEditing">{{animalType.AnimalTypeName}}</h2>
                <input *ngIf="isEditing" type="text" pInputText placeholder="{{animalType.AnimalTypeName}}" />
                <div>
                    <p-button *ngIf="!isEditing" label="Edit" (onClick)="isEditing = !isEditing"></p-button>
                    <p-button *ngIf="isEditing" label="Save" (onClick)="updateAnimalType(animalType.AnimalTypeId)">
                    </p-button>
                    <p-button *ngIf="isEditing" label="Delete" (onClick)="cancelEditing()"></p-button>
                </div>
            </ng-template>

            <ng-template pTemplate="content">
                <div class="progressGroup">
                    <input *ngIf="isEditing" type="text" pInputText placeholder="Change Current Capacity: {{animalType.Capacity}}" />
                    <h3>Fullness of facility</h3>
                    <!-- TODO databing the length of Animals Array in here and do the math  -->
                    <p-progressBar value="60" styleClass="prime-progress"></p-progressBar>
                </div>
                <!-- TODO instead of do ngIf, do visibility:none in CSS so it doesn't mess up the card layout -->
                <p-button *ngIf="!isEditing" label="See Avaliable Animals!" styleClass="avalBtn"></p-button>
            </ng-template>
        </p-card>
    </section>
</div>