body {
    margin: 0;
    padding: 0;
    /* background-color:#b4c4b5; */
    background-color:#EBEBE8;
}

h1, h2, h3, p, li, small, label{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

