<section id="video-statement">
    <img src="https://via.placeholder.com/650x500" alt="">
    <section id="statement">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam enim deserunt natus reiciendis dicta
            dignissimos neque cumque, architecto similique molestiae, illo provident eveniet tempore obcaecati. Nam
            consectetur quas officiis eaque.</p>
        <h2>Misstion Statement</h2>
    </section>
</section>

<section id="organizationIcons">

    <a *ngFor="let shelter of allShelters" [routerLink]="getRoute(shelter.ShelterId)">
        <h3>{{ shelter.ShelterName }}</h3>
        <img src="../../assets/shelters/{{ shelter.ShelterId }}.jpg" alt="">
        <p>{{ shelter.Description}}.</p>
    </a>
</section>