div {
    padding-top: 5%;
}

ul {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    margin-top: 0;

}

li {
    color: black;
    text-decoration: none;
    display: inline;
    padding-right: 1.45em;
    padding-left: 0.45em;
    cursor: pointer;
  }

  li:hover {
    background-color: #D1E2C4;;
  }



  button {
    /* border: none;
    background-color: none; */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }