<div>

    <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input type="text" pInputText [(ngModel)]="searchInput" (keyup)="filterFilteredAnimalTypes($event)"
            placeholder="Search">
    </span>

    <ul>
        <li *ngFor="let animalType of searchResult">
            <button (click)="routeTo(animalType)">{{ animalType.AnimalTypeName }} from
                {{animalType.ShelterName}}</button>
        </li>
    </ul>

    <p>{{isLeaving}}</p>

    <p *ngIf="isLeaving"> check </p>
    <!-- <p-listbox [options]="names" [(ngModel)]="selectedType" optionLabel="name"></p-listbox> -->
</div>